<div class="recipe recipe-list-item">
    {% if recipe.cover %} 
        <div class="recipe-cover">
            <a href="{% url 'recipes-recipe' recipe.id %}">
                <img src="{{recipe.cover.url}}" alt="Temporário">
            </a>
        </div>
    {% endif %}
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'recipes-recipe' recipe.id %}">
            {{recipe.title}}
            </a>
        </h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            {% if recipe.author is not None %}
                {% if recipe.author.first_name %}
                    {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                {% else %}
                    {{ recipe.author.username }}
                {% endif %}
            {% else %}
                Não informado
            {% endif %}
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ recipe.created_at|date:"d/m/Y" }}
        </span>

        {% if recipe.category is not None %}
            <span class="recipe-author-item">
                <a href="{% url 'recipes-category' recipe.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ recipe.category.name }}</span>
                </a>
            </span>
        {% endif %}

    </div>

    <div class="recipe-content">
        <p>{{ recipe.description }}</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                {{ recipe.servings }} {{ recipe.servings_unit }}
            </div>
        </div>
    </div>
    
    <footer class="recipe-footer">
        <a href="{% url 'recipes-recipe' recipe.id %}" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    
</div>

<!--
<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://plus.unsplash.com/premium_photo-1667682209935-b6c87cced668?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzdCUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Walter Martins
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            06/02/2024 às 14:26
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto blanditiis nam, 
            sunt sequi eos tempora facilis saepe aliquid id inventore ipsum ratione esse odit 
            dignissimos sint sed quidem. Iste!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="http://127.0.0.1:8000/recipes/2/" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>

<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://plus.unsplash.com/premium_photo-1667682209935-b6c87cced668?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzdCUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Walter Martins
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            06/02/2024 às 14:26
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto blanditiis nam, 
            sunt sequi eos tempora facilis saepe aliquid id inventore ipsum ratione esse odit 
            dignissimos sint sed quidem. Iste!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="http://127.0.0.1:8000/recipes/3/" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>

<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://plus.unsplash.com/premium_photo-1667682209935-b6c87cced668?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzdCUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Walter Martins
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            06/02/2024 às 14:26
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto blanditiis nam, 
            sunt sequi eos tempora facilis saepe aliquid id inventore ipsum ratione esse odit 
            dignissimos sint sed quidem. Iste!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="http://127.0.0.1:8000/recipes/4/" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>

<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://plus.unsplash.com/premium_photo-1667682209935-b6c87cced668?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzdCUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Walter Martins
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            06/02/2024 às 14:26
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto blanditiis nam, 
            sunt sequi eos tempora facilis saepe aliquid id inventore ipsum ratione esse odit 
            dignissimos sint sed quidem. Iste!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="http://127.0.0.1:8000/recipes/5/" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>

<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://plus.unsplash.com/premium_photo-1667682209935-b6c87cced668?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFzdCUyMGZvb2R8ZW58MHx8MHx8fDA%3D" alt="">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Walter Martins
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            06/02/2024 às 14:26
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    <div class="recipe-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto blanditiis nam, 
            sunt sequi eos tempora facilis saepe aliquid id inventore ipsum ratione esse odit 
            dignissimos sint sed quidem. Iste!</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a href="http://127.0.0.1:8000/recipes/6/" class="recipe-read-more button button-dark button-full-widt">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>
-->